 img {
    max-width: 100%;
}

body {
    font-family: arial;
}

.t-galeria {
    display: flex;
    flex-wrap: wrap;
}

.t-galeria_item {
    width: calc(25% - 20px);
    margin: 49px;
}

.t-galeria_text {
    text-align: center;
}

.t-galeria_titulo {
    display: block;
    margin: 2px 0;
    font-synthesis-weight: normal;
    font-size: 16px;
}

.t-galeria_precio {
    font-weight: bold;
}

.t-header {
    text-align: center;
}

.t-header_titulo  {
    font-size: 3rem;
}

.t-header_titulo--flex{
    color: grey;
    font-size: 10%;
}

.t-header_derecha {
    display: flex;
    position: absolute;
    top: 32px;
    right: 18px;
    align-items: center;
}

.t-nav {
    position: absolute ;
    top: 32px;
    left: 18px;
    text-align: left;
}

.t-nav_list{
    display: list-item;
}

.t-nav_link {
    display: table;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem;
}

.t-nav_link--activo{
    font-weight: bold;

}

.t-nav_genero{
    color:grey;
    text-decoration: none;
    font-size: 100%;
}

.t-nav_genero_activo{
    color: #000;
    font-weight: bold;
}

.t-nav_genero-container{
    margin-bottom: 1rem;
}

.t-buscador{
    position: relative;
}

.t-buscador_icono{
    width: 0.85rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
}

.t-buscador_input{
    border: 0;
    border-bottom: 2px solid;
    padding: 0.25rem 0.25rem 0.25rem 2rem;
}

.t-icono{
    width: 1rem;
}

.t-icono--spacio{
    margin: 0 10px;
}

.t-span{
    color: grey;
    display: flex;
    font-size: 25%;
    padding-left: 60%;
    justify-content: flex-end;
}
